{
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es2019": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "array-element-newline": ["error", "consistent"],
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 2],
    "quotes": ["error", "single"]
  }
}
